<% content_for(:title) do %>
  <%= @user.display_name %> | <%= t("user") %>
<% end %>

<% content_for(:main_heading) do %>
  <div class="avatar-card">
    <span class="media-with-hover-controls rounded" data-replace-on-delete="<%= asset_path("speaker.png") %>">
      <% if @user.photo.attached? %>
        <% if @user.photo.variable? %>
          <%= image_tag @user.photo.variant(resize_to_fill: [300, 300]), alt: @user.display_name, title: @user.display_name  %>
        <% else %>
          <%= image_tag @user.photo, alt: @user.display_name, title: @user.display_name %>
        <% end %>
        <%= link_to user_photo_path(@user), class: "overlay delete-link", method: :delete, data: {confirm: t("dashboard.actions.confirm")}, remote: true do %>
          <span><%= t("dashboard.actions.destroy") %></span>
        <% end %>
      <% else %>
        <%= image_tag asset_path("speaker.png"), alt: @user.display_name, title: @user.display_name %>
      <% end %>
    </span>
    <h2>
    <div class="small">
      <% if @user.name.present? %>
        <%= @user.username %> //
      <% end %>
      <%= @user.email %>
    </div>
    <%= @user.display_name %>
    <div class="small">
      <span class="badge"><%= User.human_attribute_name("role.#{@user.role}") %></span>
    </div>
  </h2>
  </div>
<% end %>

<%= form_with model: @user, multipart: true, class: "form aligned", data: {remote: false}, id: "userForm", locale: true do |f| %>
  <%= render partial: "shared/form_errors", locals: { resource: @user } %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <% unless !((current_user.super_admin || current_user.admin?) && @user.id != current_user.id) %>
    <%= f.label :role %>
    <%= f.select :role, User.roles.keys.excluding('super_admin').map { |k| [User.human_attribute_name("role.#{k}"), k] } %>
  <% end %>

  <fieldset>
    <%= f.label :reset_password, for: :user_password %>
    <%= f.password_field :password %>
  </fieldset>

  <%= f.submit %>
<% end %>
<%= render "form" %>

<%= render partial: "shared/flash_messages" %>
