<% content_for(:title) do %>
  <%= @user.email %> | <%= t("user") %>
<% end %>

<% content_for(:main_heading) do %>
<div class="columns">
  <div class="avatar-card">
  <% if @user.photo.attached? %>
    <%= image_tag @user.photo, class: "img--rounded img--larger", alt: @user.email, title: @user.email %>
  <% else %>
    <%= image_tag asset_path("speaker.png"), class: "img--rounded img--larger", alt: @user.email, title: @user.email %>
  <% end %>
  <h2>
    <%= @user.email %>
    <div class="small">
      <span class="badge"><%= User.human_attribute_name("role.#{@user.role}") %></span>
    </div>
  </h2>
  </div>
  <div>
    <%= link_to t("dashboard.actions.edit"), edit_user_path(@user), class: "btn" if policy(@user).edit? %>
    <%= link_to t("dashboard.actions.destroy"), user_path(@user), method: :delete, data: {confirm: t("dashboard.actions.confirm")}, class: "btn btn-danger" if policy(@user).destroy? %>
  </div>
</div>
<% end %>
