<%= form_with model: @story, multipart: true, data: {remote: false} do |f| %>
  <%= render partial: "shared/form_errors", locals: { resource: @story } %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :desc %>
  <%= f.text_field :desc %>

  <%= f.label :language %>
  <%= f.text_field :language %>

  <%= f.label :topic %>
  <%= f.text_field :topic %>

  <%= f.label :date_interviewed %>
  <%= f.date_field :date_interviewed %>

  <%= f.label :media %>
  <%= f.file_field :media, multiple: true %>

  <%= f.label :speaker_ids %>
  <div class="checklist">
    <%= f.collection_check_boxes :speaker_ids, community.speakers, :id, :name %>
  </div>

  <%= f.label :place_ids %>
  <div class="checklist">
    <%= f.collection_check_boxes :place_ids, community.places, :id, :name %>
  </div>

  <%= f.label :interview_location_id %>
  <%= f.collection_select :interview_location_id, community.places, :id, :name, include_blank: true %>

  <%= f.label :interviewer_id %>
  <%= f.collection_select :interviewer_id, community.speakers, :id, :name, include_blank: true %>

  <%= f.label :permission_level %>
  <%= f.select :permission_level, Story.permission_levels.keys.map { |k| [t("story_permissions.#{k}"), k]} %>

  <%= f.submit %>
<% end %>
