<% @stories.each do |story| %>
  <%= link_to story, class: "card" do %>
    <div>
      <div style="display:flex">
        <div>
          <h3 style="width:max-content">
            <span class="card__heading--small"><%= story.topic %></span>
            <%= story.title %>
          </h3>
        </div>
        <% if current_user.member? && story.story_pinned %>
          <div class="view-icon-pinned">
            <%= image_tag 'thumbtack-pinned.svg', alt: 'pinned-story', class: "image-pinned" %>
          </div>
        <% end %>
        <% if current_user.admin? || current_user.editor? %>
          <% if story.story_pinned %>
            <div class="edit-icon-pinned">
              <%= form_with model: @story, url: story_path(story.id), method: "patch", multipart: true, class: "form", data: {remote: false}, locale: true do |f| %>
                <%= f.hidden_field :story_pinned, value: false %>
                <%= f.button nil, class: "icon-pinned" do %>
                  <%= image_tag 'thumbtack-pinned.svg', alt: 'pinned-story', class: "image-pinned" %>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="edit-icon-not-pinned">
              <%= form_with model: @story, url: story_path(story.id), method: "patch", multipart: true, class: "form", data: {remote: false}, locale: true do |f| %>
                <%= f.hidden_field :story_pinned, value: true %>
                <%= f.button nil, class: "icon-not-pinned" do %>
                  <%= image_tag 'thumbtack-not-pinned.svg', alt: 'pinned-story', class: "image-pinned" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <% if story.language.present? %>
        <span class="badge badge-red"><%= story.language %></span>
      <% end %>

      <% if story.permission_level.present? %>
        <span class="badge badge-green"><%= Story.human_attribute_name("permission_level.#{story.permission_level}") %></span>
      <% end %>

    <p><%= story.desc %></p>
    </div>

    <div>
      <span>
        <% if story.places.any? %>
        <svg class="icon">
          <use href="#icon-location-pin">
        </svg>
        <%= story.places.map(&:name).join(", ") %>
        <% end %>
      </span>
      <div class="avatars">
        <% story.speakers.each do |speaker| %>
          <span class="tooltip">
            <% if speaker.photo.attached? %>
              <% if speaker.photo.variable? %>
                <%= image_tag speaker.photo.variant(resize_to_fill: [100, 100]), class: "img--rounded img--mini" %>
              <% else %>
                <%= image_tag speaker.photo, class: "img--rounded img--mini", alt: speaker.name, title: speaker.name %>
              <% end %>
            <% else %>
              <%= image_tag asset_path("speaker.png"), class: "img--rounded img--mini", alt: speaker.name, title: speaker.name %>
            <% end %>

            <span class="tooltip-text"><%= speaker.name %></span>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>