<% @stories.each do |story| %>
  <%= link_to story, class: "card" do %>
    <div>
      <h3>
        <span class="card__heading--small"><%= story.topic %></span>
        <%= story.title %>
      </h3>

      <% if story.language.present? %>
        <span class="badge badge-red"><%= story.language %></span>
      <% end %>

      <% if story.permission_level.present? %>
        <span class="badge badge-green"><%= Story.human_attribute_name("permission_level.#{story.permission_level}") %></span>
      <% end %>

    <p><%= story.desc %></p>
    </div>

    <div>
      <span>
        <% if story.places.any? %>
        <svg class="icon">
          <use href="#icon-location-pin">
        </svg>
        <%= story.places.map(&:name).join(", ") %>
        <% end %>
      </span>
      <div class="avatars">
        <% story.speakers.each do |speaker| %>
          <span class="tooltip">
            <% if speaker.photo.attached? %>
              <%= image_tag speaker.photo, class: "img--rounded img--mini", alt: speaker.name, title: speaker.name %>
            <% else %>
              <%= image_tag asset_path("speaker.png"), class: "img--rounded img--mini", alt: speaker.name, title: speaker.name %>
            <% end %>

            <span class="tooltip-text"><%= speaker.name %></span>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>