<% content_for(:title) do %>
  <%= t("stories") %>
<% end %>

<% content_for(:main_heading) do %>
  <h2><%= t("stories") %></h2>
  <span class="filters">
    <%= form_tag stories_path, method: :get do %>
      <%= label_tag :place, t("place") %>
      <%= select_tag :place, options_for_select(community.stories.joins(:places).flat_map { |s| s.places.pluck(:name, :id) }.uniq, params[:place]), include_blank: t("filter.all") %>
      <%= label_tag :speaker, t("speaker") %>
      <%= select_tag :speaker, options_for_select(community.stories.joins(:speakers).flat_map { |s| s.speakers.pluck(:name, :id) }.uniq, params[:speaker]), include_blank: t("filter.all") %>
      <%= label_tag :visibility, t("visibility") %>
      <%= select_tag :visibility, options_for_select(Story.permission_levels.map { |k, v| [t("story.permissions.#{k}"), v]}, params[:visibility]), include_blank: t("filter.any") %>
      <%= submit_tag :filter %>
    <% end %>
  </span>
<% end %>

<div class="infinite-scroll">
  <% if @stories.empty? %>
    <p>There are no stories available. Adjust your filters.</p>
  <% else %>
    <div data-infinite-scroll="entries" class="collection">
    <%= render "stories" %>
    </div>
    <div data-infinite-scroll="pagination">
      <%#= Prev/Next Pagination Links for folks that don't use / have JavaScript %>
      <% if @page.meta[:offset] > 0 %>
        <%= link_to "Prev", stories_url(request.query_parameters.merge(offset: @page.meta[:offset] - @page.meta[:limit])), rel: "prev" %>
      <% end %>
      <% if @page.meta[:next_offset] %>
        <%= link_to "Next", stories_url(request.query_parameters.merge(offset: @page.meta[:next_offset])), rel: "next" %>
      <% end %>
    </div>
  <% end %>
</div>
