<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { page.page_title } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <small><%= t("place") %></small><br />
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>
</header>

<section class="main-content__body main-content__body--split">
  <% if page.resource.photo.attached? %>
    <%= image_tag url_for(page.resource.photo) %>
  <% else %>
    <%= image_tag asset_path("speaker.png") %>
  <% end %>
  <dl>
    <dt class="attribute-label">
      <%= t("helpers.label.#{page.resource_name}.#{:name}") %>
    </dt>
    <dd class="attribute-data">
      <%= page.resource.name %>
    </dd>
    <dt class="attribute-label">
      <%= t("helpers.label.#{page.resource_name}.#{:description}") %>
    </dt>
    <dd class="attribute-data">
      <%= page.resource.description %>
    </dd>
    <dt class="attribute-label">
      <%= t("helpers.label.#{page.resource_name}.#{:region}") %>
    </dt>
    <dd class="attribute-data">
      <%= page.resource.region %>
    </dd>
    <dt class="attribute-label">
      <%= t("helpers.label.#{page.resource_name}.#{:type_of_place}") %>
    </dt>
    <dd class="attribute-data">
      <%= page.resource.type_of_place %>
    </dd>
    <dt class="attribute-label">
      <%= t("helpers.label.#{page.resource_name}.#{:region}") %>
    </dt>
    <dd class="attribute-data">
      <%= page.resource.region %>
    </dd>
  </dl>
</section>

<section class="main-content__body">
  <h2><%= t("administrate.stories") %> at <%= page.resource.name %></h2>
  <div class="cards">
    <% page.resource.stories.each do |story| %>
      <div class="cards__item">
        <div>
        <h4 class="cards__item--title"><%= story.title %></h4>
        <%= story.desc %>
        </div>
        <div>
          <%= link_to t("administrate.actions.show_resource", name: nil), admin_story_path(story), class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</section>
