<% content_for(:title) do %>
  <%= t("devise.passwords.edit.change_my_password") %>
<% end %>

<% content_for(:main_heading) do %>
  <h2><%= t("devise.passwords.edit.change_my_password") %></h2>
<% end %>
<%= form_with url: change_password_path, class: "form", data: {remote: false}, id: "passwordForm", locale: true do |f| %>
  <%= render partial: "shared/form_errors", locals: { resource: @user } %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit %>
<% end %>
