<div class="devise">
  <div class="devise-card">
    <%= image_tag 'logocombo.svg', alt: 'Terrastories' %>
    <h1><%= t("welcome") %></h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), locale: true) do |f| %>
      <% if flash.any? %>
        <div class="flashes">
          <% flash.each do |key, value| -%>
            <div class="flash flash-<%= key %>">
              <%= value.html_safe %>
            </div>
          <% end -%>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :login %>
        <%= f.text_field :login, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit t("login") %>
      </div>
    <% end %>

    <div class="language-picker devise-links">
      <%= t("language") %>:
      <%= application_locales(request_path: new_user_session_path) %>
    </div>

    <%= render "devise/shared/links" %>

  </div>
  <span class="built-with"><%= t("built_with_love") %></span>
  <div class="logo">
    <%= image_tag "digitaldemocracy.png" %>
  </div>

</div>
