<h1>Edit Story #<%= @story.id %></h1>

<%= form_for @story, url: {action: "update"} do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :desc %>
  <%= f.select :speaker_id, options_for_select(Speaker.all.map { |speaker| [speaker.name, speaker.id]})%>
  <%= f.select :point_id, options_for_select(Point.all.map { |point| [point.title, point.id]})%>
  <%= f.file_field :media, multiple: true %>
  <%= f.submit "Update" %>
<% end %>