<h1><%= @story.title %></h1>
<p>by <%= @story.speaker.name %></p>
<br/>
<p><%= @story.desc %></p>

<% @story.story_files.each do |file| %>
  <%= link_to file.blob.filename, url_for(file) %>
<% end %>
<% @story.story_files.each do |file| %>
	<video id="player" playsinline controls>
	    <source src="<%= url_for(file) %>" type="video/mp4">
	</video>
<% end %>