<div class="welcome" style="background-image: url(<%= @theme.background_img if theme ) %>) " >
  <div class="welcome-card">
    <%= image_tag 'logocombo.svg', alt: 'Terrastories' %>
    <% if user_signed_in? %>
      <h1><%= t("welcome_back") %></h1>
    <% else %>
      <h1><%= t("welcome") %></h1>
    <% end %>

    <%= link_to home_map_path do %>
      <button><%= t("enter") %></button>
    <% end %>

    <div class="welcome-card-user">
      <% if user_signed_in? %>
        <% if current_user.editor? %>
          <%= link_to t("admin_page"), admin_root_path, :class => 'navbar-link' %> | 
        <% end %>
        <%= link_to t("logout"), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to t("login"), new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>

    <div class="language-picker">
      <%= t("language") %>:
      <%= application_locales %>
    </div>
  </div>
  <div class="logo">
    <% if @theme %>
      Built with ❤️ by
      <% @theme.logos.each do |logo| %>
        <%= image_tag logo %>
      <% end %>
    <% end %>
  </div>
</div>
