<div class="welcome">
  <div class="welcome-card">
    <%= image_tag 'logocombo.svg', alt: 'Terrastories' %>
    <% if user_signed_in? %>
      <h1>Welcome back,</h1>
      <div><%= current_user.email %></div>
    <% else %>
      <h1>Welcome</h1>
    <% end %>
    <%= button_tag(type: 'button') do %>
      <% link_to "Enter Site", home_map_path %>
    <% end %>

    <div class="welcome-card-user">
      <% if user_signed_in? %>
        <% if current_user.editor? %>
          <%= link_to "Admin Page", admin_root_path, :class => 'navbar-link' %> | 
        <% end %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
  </div>
</div>
