<div id="welcome-page">
  <div class="welcome-card">
    <%= image_tag 'logocombo.svg', alt: 'Terrastories' %>
    <h1>Welcome</h1>

    <%= button_tag(type: 'button', class: "l--75") do %>
      <% link_to "Enter Site", home_map_path %>
    <% end %>

    <h4 class="l--75">Are you an Admin?</h4>

    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </div>
</div>
