<% content_for(:title) { page.page_title } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <small><%= t("welcome") %>!</small><br />
    <%= content_for(:title) %>
  </h1>
  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) && current_user.super_admin %>
  </div>
</header>

<section class="main-content__body">
  <span class="badge"><%= page.resource.locale %></span>
  <span class="badge"><%= page.resource.country %></span>
</section>

<% if current_user.super_admin %>
  <section class="main-content__body main-content__body--flush padding-fix color-fix">
    <header class="main-content__header" role="heading">
      <h2 class="main-content__page-title">
        <%= t("users") %>
      </h2>
    </header>
    <table aria-labelledby="community-users">
    <thead>
      <tr>
        <th><%= t("helpers.label.users.email") %></th>
        <th><%= t("helpers.label.users.role") %></th>
      </tr>
      </thead>
      <tbody>
        <% page.resource.users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
<% end %>
