<% content_for(:title) do %>
  <%= t("communities") %>
<% end %>

<% content_for :main_heading do %>
<div class="columns">
  <h2><%= t("communities") %></h2>
  <%= link_to t("dashboard.actions.new"), new_community_path, class: "btn" if policy(:community).new? %>
  </div>
    <%= form_with url: communities_path, method: :get, class: "filters", local: true do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name, value: params[:name] %>
    </div>
    <%= f.submit t("search.label"), name: nil %>
  <% end %>

  <div>
    <%= t("sort.label") %>
    <%= link_to t("sort.updated_at"), communities_url(request.query_parameters.merge(sort_by: "updated_at", sort_dir: "desc")) %>
    |
    <%= link_to t("sort.created_at"), communities_url(request.query_parameters.merge(sort_by: "created_at", sort_dir: "desc")) %>
    |
    <%= link_to t("sort.name"), communities_url(request.query_parameters.merge(sort_by: "name", sort_dir: "asc")) %>
  </div>
<% end %>

<div class="infinite-scroll">
  <% if @communities.empty? %>
    <p><%= t("list.no_results", resources: t("search.heading").downcase) %></p>
  <% else %>
    <div data-infinite-scroll="entries" class="collection-table">
      <%= render "communities" %>
    </div>
    <div data-infinite-scroll="pagination">
      <%#= Prev/Next Pagination Links for folks that don't use / have JavaScript %>
      <% if @page.meta[:offset] > 0 %>
        <%= link_to "Prev", communities_url(request.query_parameters.merge(offset: @page.meta[:offset] - @page.meta[:limit])), rel: "prev" %>
      <% end %>
      <% if @page.meta[:next_offset] %>
        <%= link_to "Next", communities_url(request.query_parameters.merge(offset: @page.meta[:next_offset])), rel: "next" %>
      <% end %>
    </div>
  <% end %>
</div>
