<% content_for(:title) do %>
  <%= t("dashboard.community.settings") %>
<% end %>

<% content_for(:main_heading) do %>
  <h2><%= t("dashboard.community.settings") %></h2>
<% end %>

<%= form_with model: @community, url: community_settings_path, data: {remote: false}, class: "form aligned" do |f| %>
  <% if Flipper.enabled?(:split_settings, @community) %>
    <h4><%= t("dashboard.theme.welcome_screen") %></h4>

    <div class="two-columns">
      <div class="two-columns-left column-fixed-400">
          <%= f.label :background_img %>
          <p><%= t("dashboard.theme.background_img") %></p>
          <%= f.file_field :background_img %>
      </div>
      <div class="two-columns-right">
        <% if current_community.background_img.attached? %>
          <span class="media-with-hover-controls">
            <% if current_community.background_img.variable? %>
            <%= image_tag(current_community.background_img.variant(resize_to_limit: [nil, 300])) %>
            <% else %>
            <%= image_tag(current_community.background_img, width: 300) %>
            <% end %>
            <span class="overlay"></span>
            <%= link_to background_img_community_settings_path, class: "delete-link", method: :delete, data: {confirm: t("dashboard.actions.confirm")}, remote: true do %>
              <svg><use href="#icon-cancel"></svg>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="two-columns">
      <div class="two-columns-left column-fixed-400">
        <div class="input-group">
          <%= f.label :sponsor_logos %>
          <p><%= t("dashboard.theme.sponsor_logos") %></p>
          <%= f.file_field :sponsor_logos, multiple: true %>
        </div>
      </div>

      <div class="two-columns-right with-images-list">
        <% if current_community.sponsor_logos.any? %>
          <% current_community.sponsor_logos.each do |img| %>
            <span class="media-with-hover-controls">
              <%= image_tag(img, width: 150) %>
              <span class="overlay"></span>
              <%= link_to delete_sponsor_logo_community_settings_url(img.signed_id), class: "delete-link", method: :delete, data: {confirm: t("dashboard.actions.confirm")}, remote: true do %>
                <svg><use href="#icon-cancel"></svg>
              <% end %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if Flipper.enabled?(:public_communities, current_community) %>
    <%# Community Public %>
    <h4><%= t("dashboard.community.make_public") %></h4>
    <div class="input-group">
      <%= f.check_box :public, checked: current_community.public %>
      <%= f.label :public %>
    </div>
  <% end %>

  <%# Community Beta / Experimental Features %>
  <h4><%= t("dashboard.community.beta_access") %></h4>
  <div class="input-group">
    <%= f.check_box :beta, checked: current_community.beta %>
    <%= f.label :beta %>
  </div>

  <%= f.submit %>
<% end %>
