<section class="main-content__body padding-fix color-fix">
  <p>
    IMPORTANT: Need to import speakers? The values in your csv must be in a particular order. Feel free to use this <%= link_to "SAMPLE CSV", export_sample_csv_admin_speakers_path %> to get started with successfully uploading speakers.
  </p>

  <%= form_tag send("import_csv_admin_speakers_path"), multipart: true do %>
    <div class=form>
      <div class="form-group color-fix">
        <label class="form-title" for="file"><%= t("administrate.file_to_update") %></label>
          <%= file_field_tag :file, :accept => 'text/csv', class: "form-control-file file-update import-file-btn" %>
      </div>
      <div class="form-group">
          <%= button_tag :class => "btn-import new-button",
                :data => {
                :disable_with => 'Uploading your file...',
                } do %>
          <i class="fa fa-upload import-icon"></i><%= t("administrate.import_button", resource: t("administrate.speakers")) %>
        <% end %>
        <i class="fa fa-spinner fa-spin fa-lg import-spinner"></i>
      </div>
    </div>
  <% end %>
</section>
