<div class="devise">
  <div class="devise-card">
    <h2><%= t("login") %></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, t("password") %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, t("remember_me") %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", value: t("login") %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
