<%= form_with model: @place, multipart: true, data: {remote: false}, class: "form aligned" do |f| %>
  <%= render partial: "shared/form_errors", locals: { resource: @place } %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :name_audio %>
  <%= f.file_field :name_audio %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <% if @place.name_audio.attached? %>
  <ul class="filename-list">
  <li class="file-item">
    <%= link_to @place.name_audio.filename, rails_blob_path(@place.name_audio) %>
    <%= link_to place_name_audio_path(@place), class: "delete-link", method: "delete", data: {confirm: t("dashboard.actions.confirm")}, remote: true do %>
      <svg><use href="#icon-cancel"></svg>
    <% end %>
  </li>
  </ul>
  <% end %>

  <%= f.label :photo %>
  <%= f.file_field :photo %>

  <%= f.label :type_of_place %>
  <%= f.text_field :type_of_place %>

  <%= f.label :region %>
  <%= f.text_field :region %>

  <%= f.label :story_ids %>
  <div class="checklist">
    <%= f.collection_check_boxes :story_ids, community.stories, :id, :title %>
  </div>

  <%= f.label :lat %>
  <%= f.number_field :lat %>

  <%= f.label :long %>
  <%= f.number_field :long %>

  <%= f.submit %>
<% end %>
