<% content_for(:title) do %>
  <%= t("places") %>
<% end %>

<% content_for(:main_heading) do %>
<div class="columns">
<h2><%= t("places") %></h2>
<%= link_to t("new"), new_place_path, class: "btn" %>
</div>
<% end %>

<div class="infinite-scroll">
  <% if @places.empty? %>
    <p>There are no places available.</p>
  <% else %>
    <div data-infinite-scroll="entries" class="collection">
      <%= render "places" %>
    </div>
    <div data-infinite-scroll="pagination">
      <%#= Prev/Next Pagination Links for folks that don't use / have JavaScript %>
      <% if @page.meta[:offset] > 0 %>
        <%= link_to "Prev", places_path(request.query_parameters.merge(offset: @page.meta[:offset] - @page.meta[:limit])), rel: "prev" %>
      <% end %>
      <% if @page.meta[:next_offset] %>
        <%= link_to "Next", places_path(request.query_parameters.merge(offset: @page.meta[:next_offset])), rel: "next" %>
      <% end %>
    </div>
  <% end %>
</div>