<% content_for(:title) do %>
  <%= @place.name %> | <%= t("place") %>
<% end %>

<% content_for(:main_heading) do %>
<div class="columns">
  <div class="avatar-card">
    <% if @place.photo.attached? %>
      <%= image_tag @place.photo, class: "img--rounded img--larger", alt: @place.name, title: @place.name %>
    <% else %>
      <%= image_tag asset_path("home-icon.svg"), class: "img--rounded img--larger", alt: @place.name, title: @place.name %>
    <% end %>
    <h2>
      <% if @place.region %>
        <div class="small">
          <%= @place.region %>
        </div>
      <% end %>
      <%= @place.name %>
      <div class="small">
        <% if @place.name_audio.attached? %>
          <%= audio_tag url_for(@place.name_audio), class: "audio-player" %>
          <svg class="icon audio">
            <use href="#icon-speaker">
          </svg>
        <% end %>
        <% if @place.type_of_place %>
          <span class="badge"><%= @place.type_of_place %></span>
        <% end %>
      </div>
    </h2>
  </div>
  <%= link_to t("dashboard.actions.edit"), edit_place_path(@place), class: "btn" %>
</div>
<% end %>

<p><%= @place.description %></p>

<div class="two-columns">
<div class="two-columns-right column-fixed-350">
<img src=<%= @place.static_map_url %> />
</div>
<div class="two-columns-left">
  <h4><%= t("stories") %></h4>

  <div class="collection">
    <% if @place.stories.empty? %>
      <p>This place has no stories.</p>
    <% else %>
      <% @place.stories.each do |story| %>
        <%= link_to story, class: "card" do %>
          <div>
            <h3>
              <span class="card__heading--small"><%= story.topic %></span>
              <%= story.title %>
            </h3>

            <% if story.language %>
              <span class="badge"><%= story.language %></span>
            <% end %>

            <% if story.permission_level %>
              <span class="badge"><%= t("story.permissions.#{story.permission_level}") %></span>
            <% end %>

            <p><%= story.desc %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</div>

<script type="text/javascript">
let nameAudio = document.querySelector(".icon.audio");
const audioPlayer = document.querySelector(".audio-player");

nameAudio.addEventListener("click", function(e) {
  nameAudio.classList.toggle("playing", audioPlayer.paused);
  if (audioPlayer.paused) {
    audioPlayer.play();
  } else {
    audioPlayer.pause();
  }
});
</script>