<%= form_with model: @speaker, multipart: true, data: {remote: false}, class: "form aligned" do |f| %>
  <%= render partial: "shared/form_errors", locals: { resource: @speaker } %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :photo %>
  <%= f.file_field :photo %>

  <%= f.label :speaker_community %>
  <%= f.text_field :speaker_community %>

  <%= f.label :birthdate %>
  <%= f.date_field :birthdate %>

  <%= f.label :birthplace_id %>
  <%= f.collection_select :birthplace_id, community.places, :id, :name %>

  <%= f.label :story_ids %>
  <div class="checklist">
  <%= f.collection_check_boxes :story_ids, community.stories, :id, :title %>
  </div>

  <%= f.submit %>
<% end %>
