<% content_for(:title) do %>
  <%= @speaker.name %> | <%= t("speaker") %>
<% end %>

<% content_for(:main_heading) do %>
<div class="columns">
  <div class="avatar-card">
    <% if @speaker.photo.attached? %>
      <% if @speaker.photo.variable? %>
        <%= image_tag @speaker.photo.variant(resize_to_fill: [300, 300]), class: "img--rounded img--mega", alt: @speaker.name, title: @speaker.name %>
      <% else %>
        <%= image_tag @speaker.photo, class: "img--rounded img--mega", alt: @speaker.name, title: @speaker.name %>
      <% end %>
    <% else %>
      <%= image_tag asset_path("speaker.png"), class: "img--rounded img--mega", alt: @speaker.name, title: @speaker.name %>
    <% end %>
    <h2>
      <% if @speaker.speaker_community %>
        <div class="small">
          <%= @speaker.speaker_community %>
        </div>
      <% end %>
      <%= @speaker.name %>
      <div class="small separated">
        <% if @speaker.birthdate %>
          <span><%= l(@speaker.birthdate.to_date, format: :long) %></span>
        <% end %>

        <% if @speaker.birthplace %>
          <span><%= @speaker.birthplace.name %></span>
        <% end %>
      </div>
    </h2>
  </div>
  <div class="actions">
    <%= link_to t("dashboard.actions.edit"), edit_speaker_path(@speaker), class: "btn" if policy(@speaker).edit? %>
    <%= link_to t("dashboard.actions.destroy"), speaker_path(@speaker), method: :delete, data: {confirm: t("dashboard.actions.confirm")}, class: "btn btn-danger" if policy(@speaker).destroy? %>
  </div>
</div>
<% end %>

<div>
  <h4><%= t("stories") %></h4>

  <div class="collection">
    <% if policy_scope(@speaker.stories).empty? %>
      <p><%= t("list.no_nested_results", resource: t("speaker").downcase, resources: t("stories").downcase) %></p>
    <% else %>
      <% policy_scope(@speaker.stories).each do |story| %>
        <%= link_to story, class: "card" do %>
          <div>
            <h3>
              <span class="card__heading--small"><%= story.topic %></span>
              <%= story.title %>
            </h3>

            <% if story.language.present? %>
              <span class="badge"><%= story.language %></span>
            <% end %>

            <% if story.permission_level.present? %>
              <span class="badge"><%= Story.human_attribute_name("permission_level.#{story.permission_level}") %></span>
            <% end %>

            <p><%= story.desc %></p>
          </div>

          <span>
            <svg class="icon">
              <use href="#icon-location-pin">
            </svg>
            <%= story.places.map(&:name).join(", ") %>
          </span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
