<%#
# Navigation
This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<header class="header--main">
  <h1>
    <%= link_to admin_root_path do %>
      <%= image_tag "logocombo.svg", alt: "Terrastories", class: "header--logo" %>
    <% end %>
  </h1>
  <nav class="navigation" role="navigation">
    <ul>
      <% if current_user.admin? || current_user.editor? %>
        <li><%= link_to t("administrate.speakers"), admin_speakers_path %></a></li>
        <li><%= link_to t("administrate.stories"), admin_stories_path %></a></li>
        <li><%= link_to t("administrate.places"), admin_places_path %></a></li>
      <% end %>
      <% if current_user.admin? %>
        <li>
          <a href=<%= admin_root_path %>><%= t("administrate.community") %> <i class="fa fa-angle-down"></i></a >
          <ul class="dropdown" aria-label="submenu">
            <li><%= link_to t("administrate.users"), admin_users_path %></a></li>
            <li><%= link_to t("administrate.theme"), admin_theme_path(current_community.theme)  %></li>
          </ul>
        </li>
      <% end %>
      <li>
        <a href="javascript:void(0);"><%= current_user.email %> <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown" aria-label="submenu">
          <li><%= link_to t("profile"), edit_admin_user_path(current_user) %></a>
          <li><%= link_to t("logout"), destroy_user_session_path, method: :delete  %></li>
        </ul>
      </li>
      <li class="navigation__last-menu-item">
        <%= link_to(t("administrate.navigation.back_to_app"), home_map_path(locale: params[:locale])) if defined?(root_url) %>
      </li>
    </ul>
  </nav>
</header>
